<div class="container cover-room-show">
  <div class="chat-container">
    <% @entries.each do |e| %>
      <% if @my_account != e.user.id %>
        <h4><strong><%= e.user.name %>さんとのトークルーム</strong></h4>
      <% end %>
    <% end %>
  </div>

  <div class="my-3">
    <%= link_to "ユーザ一覧ページに戻る", users_path, class: "btn btn-secondary btn-sm" %>
  </div>

  <div class="line-bc"> <!-- チャットメッセージの全体 -->
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <div class="message-wrapper <%= @myUserId == m.user.id ? 'my-message' : 'other-message' %>">
          <p class="message-name"><%= m.user.name %></p>
          <div class="message-content">
            <p><%= m.message %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>メッセージはまだありません。</p>
    <% end %>
  </div>

  <div class="message-input">
    <%= form_for @message do |f| %>
      <%= f.text_field :message, placeholder: "メッセージを入力して下さい", class: "form-text-field" %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "送信する", class: "btn btn-success" %>
    <% end %>
  </div>
</div>