<div class="container cover-room-show"> 
  <div class="row chat-container">
    <% @entries.each do |e| %>
      <% if @my_account != e.user.id %>
        <h4><strong><%= e.user.name %>さんとのトークルーム</strong></h4>
      <% end %>
    <% end %>
  </div>
  
  <div class="row my-3">
    <%= link_to "ユーザ一覧ページに戻る", users_path, class: "btn btn-secondary btn-sm" %>
  </div>

  <div class="row line-bc"> <!-- LINE会話全体を囲う -->
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <% if @myUserId == m.user.id %>
          <p style="text-align: right;"><%= m.user.name %></p>
          <div class="balloon6">
            <div class="chatting">
              <div class="mycomment">
                <p><%= m.message %></p>
              </div>
            </div>
          </div>
        <% else %>
          <p style="text-align: left;"><%= m.user.name %></p>
          <div class="says">
            <p><%= m.message %></p>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2">メッセージはまだありません。</td>
      </tr>
    <% end %>
  </div>

  <div class="row message-input">
    <%= form_for @message do |f| %>
      <%= f.text_field :message, placeholder: "メッセージを入力して下さい", class: "form-text-field" %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "送信する", class: "btn btn-success" %>
    <% end %>
  </div>
</div>